.app-page {
    & > .header {
        font-size: 22px;
        position: sticky;
        top: 0;
        z-index: 99;
        width: 100%;
        .title-bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 20px;
        }
        button {
            background-color: transparent;
            border: none;
            padding: 0;
            &.open-menu-btn {
                @include media-query("tablet", "min") {
                    display: none;
                }
            }
        }
        .title {
            text-align: center;
        }
        .search-box {
            display: none;
            position: absolute;
            left: 0;
            width: 100%;
            background-color: #fff;
            font-size: 16px;
            padding: 15px 20px;
            box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.3);
            z-index: 1000;
            .input-group {
                display: flex;
                .input-wrapper {
                    flex-grow: 1;
                    border: none;
                    color: $color-text;
                    input {
                        width: 100%;
                    }
                }
                button {
                    color: $color-text;
                }
            }
        }
    }
    & > .header:nth-child(2) {
        position: static;
        visibility: hidden;
    }
}
input.autocomplete.flexdatalist-alias {
    border: 0 solid transparent;
    border-radius: 4px;
    box-shadow: none;
    padding: 0;
    color: $color-text;
}
